{% extends 'base.html' %}
{% include 'header.html' %}
 
 
 
{% block title %} Home {% endblock %}
 
 
 
{% block body %}
 
<div class="container">
    <div class="row">
        <div class="col md-12">
 
            <div class="jumbotron p-3">
 
                <h2>Liste <b>des Etudiants </b>  <button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Ajouter Etudiant</button> </h2>
 
 
                {% with messages = get_flashed_messages() %}
 
                {% if messages %}
 
                {% for message in messages %}
 
                <div class="alert alert-success alert-dismissable" role="alert">
 
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
 
                        <span aria-hidden="true">x</span>
 
                    </button>
 
 
                {{message}}
 
 
                </div>
 

                {% endfor %}
 
                {% endif %}
                {% endwith %}
<div class="row">
       <div class="col-6 col-sm-3">
  <form method="POST"
  <div class="input-group">
  <input type="search" name="search" class="form-control rounded" placeholder="Search" aria-label="Search"aria-describedby="search-addon" />
  <input type="submit" formaction="/search" value="search">
  </form>
  
       </div>
</div>
</div>
                <table class="table ">
 
                    <tr>
 
                        
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Number</th>
                        <th>Action</th>
                    </tr>
 
 
                   {% for row in etudiant %}
                    <tr>
                        
                        <td>{{row.username}}</td>
                        <td>{{row.lastname}}</td>
                        <td>{{row.age}}</td>
                        <td>{{row.number}}</td>
                        
                        <td>
                            <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
 
 
                        </td>
 
                    </tr>
 
 
                  <!-- Modal Edit Employee-->
<div id="modaledit{{row.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
 
 
      <div class="modal-content">
 
 
         <div class="modal-header">
 
 
            <h4 class="modal-title">Update Information</h4>
 
 
         </div>
 
 
         <div class="modal-body">
 
 
            <form action="{{url_for('update')}}" method="POST">
 
 
               <div class="form-group">
 
 
                  <label>User Name:</label>
                   <input type="hidden"  name="id" value="{{row.id}}">
 
                  <input type="text" class="form-control" name="username" value="{{row.username}}">
 
 
               </div>
 
 
 
               <div class="form-group">
 
 
                  <label>Last Name:</label>
 
                  <input type="text" class="form-control" name="lastname" value="{{row.lastname}}">
 
 
               </div>
 
 
               <div class="form-group">
 
 
                  <label>Age:</label>
 
                  <input type="text" class="form-control" name="age" value="{{row.age}}">
 
 
               </div>
 
 <div class="form-group">
 
 
                  <label>Number:</label>
 
                  <input type="text" class="form-control" name="number" value="{{row.number}}">
 
 
               </div>
               <div class="form-group">
 
 
                  <button class="btn btn-primary" type="submit">Update</button>
 
 
               </div>
 
 
            </form>
 
 
         </div>
 
 
         <div class="modal-footer">
 
 
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 
 
         </div>
 
 
      </div>
 
 
   </div>
 
</div>
 
 
                    {% endfor %}
 
 
                </table>
 
 
            </div>
 
 
 
                  <!-- Modal Add Employee-->
 
 
<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
 
            <h4 class="modal-title">Ajouter</h4>
         </div>
         <div class="modal-body">
 
            <form action="{{url_for('insert')}}" method="POST">
 
 
               <div class="form-group">
 
                  <label>User Name:</label>
                  <input type="text" class="form-control" name="username" required="1">
 
 
               </div>
 
 
                <div class="form-group">
 
 
                  <label>Last Name:</label>
                  <input type="text" class="form-control" name="lastname" required="1">
 
 
               </div>
 
 
                <div class="form-group">
 
 
                  <label>Age:</label>
                  <input type="text" class="form-control" name="age" required="1">
 
 
               </div>
 
 <div class="form-group">
 
 
                  <label>Number:</label>
                  <input type="text" class="form-control" name="number" required="1">
 
 
               </div>
 
               <div class="form-group">
 
 
                  <button class="btn btn-primary" type="submit">Add </button>
 
 
               </div>
 
 
            </form>
 
 
         </div>
 
 
         <div class="modal-footer">
 
 
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 
 
         </div>
 
 
      </div>
 
 
   </div>
 
 
</div>
 
 
 
 
 
        </div>
 
    </div>
 
 
</div>
 
 
{% endblock %}
 

 